<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>TODO-LIST</title>
</head>
<body>
    <h1>TODO-LIST</h1>
{#    title = models.CharField("제목", max_length=50)#}
{#    description = models.TextField("해야할 일")#}
{#    start_date = models.DateField('해아할 일 시작 날짜')#}
{#    end_date = models.DateField('해야할 일 마감 날짜')#}
{#    is_completed = models.BooleanField('완료 여부', default=False)#}
{#    created_at = models.DateTimeField('생성 시간', auto_now_add=True)#}
{#    modified_at = models.DateTimeField('수정 시간', auto_now=True)#}
    {% for todo in todo_list %}
        <a href={% url 'todo_info' todo.id %}>{{ todo.title }}</a>
    {% endfor %}
</body>
</html>