<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>user_info</title>
</head>
<body>
    <h1>이름 : {{ user.이름 }}</h1>
    <p>나이 : {{ user.나이 }}</p>
    <p>생일 : {{ user.생일 }}</p>
    <p>취미 : {{ user.취미 }}</p>
    <p>거주지 : {{ user.거주지 }}</p>
    <p>개발경력 : {{ user.개발경력 }}</p>
</body>
</html>